body {
  background-color: #696969;
  background-image: url(/css/background\ image/BorderWar.png);
  background-size: 700px;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vmax;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -300px
}

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #fefefe;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

.btn {
  display: center;
  margin-top: 2vh;
  color: white;
  background-color: #111dc6;
  font-weight: bold;
  border: 2px solid #cacbd1;
  margin-right: 30px;

}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  font-size: 40px;
  margin-bottom: -350px;
  background: #111dc6;
  color: white;
}