body {
  background-image: url(/images/game\ images/kuvsmizzou.webp);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: -80px
}

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #000000;
}

.card.back-jayhawk.shadow {
  box-shadow: 7px 7px 7px 0 rgba(197, 0, 0, 0.95) !important;

}
.card.back-mizzou-tiger-logo.shadow {
  box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.95) !important;
}

#secretBtn {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 30px;
  font-size: 9px;
  text-align: center;
  margin-right: 1000px;
  margin-bottom: -200px;
  background-color: transparent;
  opacity: .1;
  color: white;
  border: none;
}

.btn {
  display: center;
  margin-top: 2vh;
  color: white;
  background-color: #000000;
  font-weight: bold;
  border: 2px solid #cacbd1;
  margin-right: 30px;
  font-size: 35px;

}


.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
h1 {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border-radius: 8px;
  font-size: 50px;
}

h2 {
  display: flex;
  font-size: 35px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 10px; 
  border-radius: 8px;
}

.scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  width: 50%; 
  height: 20px;
  padding: 20px; /* add some padding */
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(8, 8, 8, 0.1);
  margin-top: 80px; 
  color: #333;
  border-color: black;
  border: 8px solid;
}